/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
}
nav a.active {
  color: #eb2fe1; /* highlight color */
  text-decoration: underline;
  text-underline-offset: 6px; /* make underline lower */
  font-weight: 600;
}
